/* You can add global styles to this file, and also import other style files */

@use 'sass:color';

$prim-color-lighter: color.adjust(#34626c, $lightness: 2%);
$prim-color-darker: color.adjust(#34626c, $lightness: -2%);
:root {
  --primary-color: #34626c;
  --secondary-color: #0f3057;
  --tertiary-color: #e7e7de;
  --fourth-color: #008891;
  --fifth-color: #005816;
  --sixth-color: #333333;
  --navbar-height: 70px;
  --tui-primary: var(--primary-color) !important;
  --tui-primary-hover: #{$prim-color-lighter} !important;
  --tui-primary-active: #{$prim-color-darker} !important;
}

// Reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fafafa;
}

tui-dialog .t-content:has(wishare-wish-dialog) {
  background: #005816 !important;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.wi-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.background-image {
  background-image: url('/assets/images/top-banner.svg');
  background-position: center bottom;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--sixth-color);
}

.text-light {
  color: var(--tertiary-color);
}

// Text sizes
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

// Margin
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

// Padding
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

